{% extends 'portfolio/layout.html' %}

{% block style %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/about.css' %}"/>

{% endblock style %}


{% block main %}

<div class="container">
    <div class="divRetangulos">

        <div class="textoDentroDivRetangulos">

            <h3> <u> Ricardo Cleto </u> </h3>

            <img src="../static/portfolio/images/Ricardo.jpg" alt="ERROR">

            <p>
                Olá, o meu nome é Ricardo, e neste momento estotu a estudar Engenharia Informática na Universidade Lusófona.
            </p>

            <br>

            <p>
                 Estudei em várias escolas presentes no Agrupamento de Escolas de Sampaio:
            </p>

            <li>➥ Escola Básica de Sampaio</li>
            <li>➥ Escola Secundária de Sampaio</li>

            <br>

            <p>
                <span class="spanTitleColor">Apdidões:</span>
                <li> Linguagens de Programação:</li>
            </p>

            <p class="skills">
                <li> ➥ Java </li>
                <li> ➥ Kotlin </li>
                <li> ➥ C </li>
                <li> ➥ C# </li>
                <li> ➥ Python </li>
            </p>

            <br>

            <p>
                <span class="spanTitleColor">Competências:</span>
            </p>

            <p class="skills">
                <li> ➥ Social Skills </li>
                <li> ➥ Trabalhos em Grupo </li>
                <li> ➥ Criativo </li>
                <li> ➥ Motivacional </li>
                <li> ➥ Flexibilidade </li>
            </p>

        </div>

    </div>
</div>

{% endblock main %}
