{% extends 'portfolio/layout.html' %}

{% block style %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/formacao.css' %}"/>

{% endblock style %}


{{% block main %}

<div class="container">
    <div class="divRetangulos">

        <div class="textoDentroDivRetangulos">

            <h3 class="tituloCadaAno"> <u> 1º Ano </u> </h3>

            <br>

            <p>
                <center class="SubtitulotitulosCadaAno"> <span class="colorizedSpanTitulo">  Plano de Estudos: </span> </center>

                <br>

                <p class="backgroundRelativo">
                    <div class="semestres">

                        <h4>1º Semestre</h4>

                        <ol>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/fundamentos-de-fisica/ULHT260-7336">Fundamentos de Física</a> <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (6 ECTS) <span class="divisoria"> | </span> ★★★★★ </span> </li>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/fundamentos-de-programacao/ULHT260-7337">Fundamentos de Programação</a> <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (6 ECTS) <span class="divisoria"> | </span> ★★★★★ </span> </li>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/matematica-discreta/ULHT260-1656">Matemática Discreta</a>  <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (6 ECTS) </span>  <span class="divisoria"> | </span> ★★★★ </li>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/matematica-i/ULHT260-1">Matemática I</a>  <span class="colorizedSpanECTS"> <span class="divisoria"> | </span> (6 ECTS) </span> <span class="divisoria"> | </span> ★★★★★ </li>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/sistemas-digitais/ULHT260-7">Sistemas Digitais</a> <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (6 ECTS) </span> <span class="divisoria"> | </span> ★★★ </li>
                            <u>Total:</u> 30 ECTS
                        </ol>

                    </div>


                    <div class="semestres2">

                        <h4>2º Semestre</h4>

                        <ol>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/algebra-linear/ULHT260-2091">Álgebra Linear</a> <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (5 ECTS) </span> <span class="divisoria"> | </span> ★★★★★ </li>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/algoritmia-e-estruturas-de-dados/ULHT260-13397">Algoritmia e Estruturas de Dados</a> <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (6 ECTS) </span> <span class="divisoria"> | </span> ★★★★ </li>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/arquitetura-de-computadores/ULHT260-5857">Arquitetura de Computadores</a> <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (5 ECTS) </span> <span class="divisoria"> | </span> ★★★★ </li>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/competencias-comportamentais/ULHT260-17267">Competências Comportamentais</a> <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (4 ECTS) </span> <span class="divisoria"> | </span> ★★★ </li>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/linguagens-de-programacao-i/ULHT260-498">Linguagens de Programação I</a> <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (5 ECTS) </span> <span class="divisoria"> | </span> ★★★★★ </li>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/matematica-ii/ULHT260-505">Matemática II</a> <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (5 ECTS) </span> <span class="divisoria"> | </span> ★★★★★ </li>
                            <u>Total:</u> 30 ECTS
                        </ol>

                    </div>
                </p>
            </p>

        </div>


        <div class="textoDentroDivRetangulos">

            <h3 class="tituloCadaAno"> <u> 2º Ano </u> </h3>

            <br>

            <p>
                <center class="SubtitulotitulosCadaAno"> <span class="colorizedSpanTitulo">  Plano de Estudos: </span> </center>

                <br>

                <p class="backgroundRelativo">
                    <div class="semestres">

                        <h4>1º Semestre</h4>

                        <ol>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/arquiteturas-avancadas-de-computadores/ULHT260-13398">Arquiteturas Avançadas de Computadores </a> <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (5 ECTS) </span> <span class="divisoria"> | </span> ★★★★★ </li>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/bases-de-dados/ULHT260-1792">Bases de Dados </a>  <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (6 ECTS) </span> <span class="divisoria"> | </span> ★★★ </li>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/linguagens-de-programacao-ii/ULHT260-898">Linguagens de Programação II </a> <span class="colorizedSpanECTS"> (5 ECTS) </span>  <span class="divisoria"> | </span> ★★★★★ </li>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/sinais-e-sistemas/ULHT260-7339">Sinais e Sistemas </a> <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (4 ECTS) </span> <span class="divisoria"> | </span> ★★ </li>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/sistemas-operativos/ULHT260-6305">Sistemas Operativos</a> <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (5 ECTS) </span>  <span class="divisoria"> | </span> ★★ </li>
                            <u>Total:</u> 30 ECTS
                        </ol>
                    </div>


                    <div class="semestres2">

                        <h4>2º Semestre</h4>

                        <ol>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/computacao-grafica/ULHT260-2267">Computação Gráfica </a>  <span class="colorizedSpanECTS"> (5 ECTS) </span> <span class="divisoria"> | </span> ★★★★★ </li>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/engenharia-de-requisitos-e-testes/ULHT260-22512">Engenharia de Requisitos e Testes </a> <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (6 ECTS) </span> <span class="divisoria"> | </span> ★★ </li>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/programacao-web/ULHT260-11195">Programação Web</a> <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (5 ECTS) </span> <span class="divisoria"> | </span> ★★★★★ </li>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/redes-de-computadores/ULHT260-1793    ">Redes de Computadores</a> <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (4 ECTS) </span> <span class="divisoria"> | </span> ★★★★  </li>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/sistemas-de-suporte-a-decisao/ULHT260-7303">Sistemas de Suporte à Decisão</a> <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (5 ECTS) </span> <span class="divisoria"> | </span> ★★★★ </li>
                            <u>Total:</u> 30 ECTS
                        </ol>
                    </div>
                </p>
            </p>

        </div>

        <div class="textoDentroDivRetangulos">

            <h3 class="tituloCadaAno"> <u> 3º Ano </u> </h3>

            <br>

            <p>
                <center class="SubtitulotitulosCadaAno"> <span class="colorizedSpanTitulo">  Plano de Estudos: </span> </center>

                <br>

                <p class="backgroundRelativo">
                    <div class="semestres">

                        <h4>1º Semestre</h4>

                        <ol>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/trabalho-final-de-curso/ULHT260-5140">Trabalho Final de Curso</a> <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (5 ECTS) </span> <span class="divisoria"> | </span>      </li>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/computacao-distribuida/ULHT260-7348">Computação Distribuída</a> <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (6 ECTS) </span>  <span class="divisoria"> | </span></li>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/data-science/ULHT260-22513">Data Science</a> <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (5 ECTS) </span>  <span class="divisoria"> | </span></li>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/engenharia-de-software/ULHT260-7341">Engenharia de Software</a> <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (4 ECTS) </span> <span class="divisoria"> | </span> </li>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/interacao-humano-maquina/ULHT260-11047">Interação Humano-Máquina</a> <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (5 ECTS) </span>  <span class="divisoria"> | </span></li>
                            <u>Total:</u> 30 ECTS
                        </ol>
                    </div>


                    <div class="semestres2">

                        <h4>2º Semestre</h4>

                        <ol>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/trabalho-final-de-curso/ULHT260-5140">Trabalho Final de Curso</a> <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (5 ECTS) </span> <span class="divisoria"> | </span> </li>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/computacao-movel/ULHT260-16925">Computação Móvel</a> <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (6 ECTS) </span> <span class="divisoria"> | </span> </li>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/inteligencia-artificial/ULHT260-2129">Inteligência Artificial</a> <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (5 ECTS) </span> <span class="divisoria"> | </span> </li>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/seguranca-informatica/ULHT260-11194">Segurança Informática</a> <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (4 ECTS) </span>  <span class="divisoria"> | </span> </li>
                          <li> <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/sistemas-de-informacao-na-nuvem/ULHT260-22514">Sistemas de Informação na Nuvem</a> <span class="divisoria"> | </span> <span class="colorizedSpanECTS"> (5 ECTS) </span> <span class="divisoria"> | </span> </li>
                            <u>Total:</u> 30 ECTS
                        </ol>
                    </div>
                </p>
            </p>

        </div>

        <p class="infoExtra">
            Caso necessite de mais informações, consulte:
            <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica">Engenharia Informática Lusófona</a>
        </p>

    </div>

</div>

{% endblock main %}