{% extends 'portfolio/layout.html' %}

{% block style %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/formacao.css' %}"/>

{% endblock style %}


{{% block main %}

<div class="container">
    <div class="divRetangulos">

        <div class="textoDentroDivRetangulos">

            <h3> <u> 1º Ano </u> </h3>

            <br><br><br><br><br><br><br><br><br>

            <p> <span>  Plano de Estudos: </span>
                (FALTA COLOCAR AS CADEIRAS & ECTS)
            </p>


        </div>

              <div class="textoDentroDivRetangulos">

            <h3> <u> 2º Ano </u> </h3>

            <br><br><br><br><br><br><br><br><br>

            <p> <span>  Plano de Estudos: </span>
                (FALTA COLOCAR AS CADEIRAS & ECTS)
            </p>


        </div>


                <div class="textoDentroDivRetangulos">

            <h3> <u> 3º Ano </u> </h3>

            <br><br><br><br><br><br><br><br><br>

            <p> <span>  Plano de Estudos: </span>
                (FALTA COLOCAR AS CADEIRAS & ECTS)
            </p>


        </div>


    </div>

</div>

{% endblock main %}