<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    {% extends 'portfolio/layout.html' %}

</head>
<body>


    {% block main %}

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/home.css' %}"/>

    <main>
            <div class="container">

                <h3>Home</h3>
                <p>Página home </p>

                <h3>OLA!</h3>

                <p>Página home 2</p>
                {% load static %}
                <img src="{% static 'portfolio/images/United.jpg' %}">

            </div>
        </main>

    {% endblock %}

</body>
</html>