{% extends 'portfolio/layout.html' %}

{% block style %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/projetos.css' %}"/>

{% endblock style %}


{% block main %}

<div class="container">
    <div class="divRetangulos">

        <div>
            <h3> <u> Xadrez </u> </h3>

        </div>

        <div>
            <h3> <u> Base de Dados Musical </u> </h3>

        </div>

        <div>
            <h3> <u> MineSweeper </u> </h3>

        </div>

        <div>
            <h3> <u> Jogo (Tipo Monopólio) </u> </h3>

        </div>

    </div>

</div>

{% endblock main %}
