*{ /* Universal */
    font-family: sans-serif;
    background: khaki;
}

td:nth-of-type(even){
  background: white;
}

td:nth-of-type(odd){
  background: lightgray;
}

th{
  background: khaki;
}

h3:before{ /* Tipo */
    color: GoldenRod;
    content: "😎";
}

h3:after{ /* Tipo */
    content: "👽";
}

h2:before{ /* Tipo */
    color: green;
    content: "😎";
}

h2:after{ /* Tipo */
    content: "👽";
}

h1:before{ /* Tipo */
    color: Red;
    content: "😎";
}

h1:after{ /* Tipo */
    content: "👽";
}

.important{ /* Classe */
    font-weight: bold;
}

#unico{ /* id */
    background-color: aqua;
}

a[target="obj"] { /* atributo */
  background-color: yellow;
}

div:hover{ /* Pseudo-Classe */
    background-color: violet;
}

p::first-letter{ /* Pseudo-Elemento */
    font-size: 2em;
}

.pintaCaixas1{
    color: purple;
    background-color: red;
}

.pintaCaixas2{
    color: gold;
    background-color: white;
}

.pintaCaixas3{
    color: red;
    background-color: blue;
}

.pintaCaixas4{
    color: green;
    background-color: orange;
}

a:link{
    color: blue;
}

a:visited{
    color: purple ;
}

a:hover{
    color: black;
}

a:link{
    color: red;
}

input{
    display: inline-block;
}





