.container{
    position: absolute;
    background-image: url("../images/cybersecurity.gif");
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-left: 50px;
    padding-top: 75px;
}

.CyberSecurityTitle{
   position: absolute;
    top: 80px;
    right: 270px;
    color: white;
    font-weight: bold;
    font-size: 72px;

}

.backgroundTexto{
    position: relative;
}