.container{
    display: block;
    background-size: 100% 100%;
    background-color: seagreen;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.divRetangulos{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(4, 100px);
   margin-top: 65px;
   margin-left: 20px;
   padding: 30px;
}

.divRetangulos div{
    width: 300px;
    height: 500px;
    box-shadow: 5px 2px 3px 7px black;
    border-radius: 10px;
    background-color: LightGray;
    padding: 20px;
    margin: 7px;
}

.textoDentroDivRetangulos h3{
    text-align: center;
}

.textoDentroDivRetangulos p{
    text-align: left;
    display: inline-block;

}

.textoDentroDivRetangulos span{
    text-align: left;
    color: seagreen;
}

.textoDentroDivRetangulos .spanWhite{
    color: LightGray;
}

